background-color: #1988f7;
body {
	animation: myAnim 1s ease-in 0s 1 alternate both;

  

}
@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
h1 {
  color: greenyellow;
  font-family: verdana;
  font-size: 300%;

}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}