
body {
  font: 14px Roboto, sans-serif;

     margin: 0px;

	animation: myAnim 1s ease-in 0s 1 alternate both;

background-image: linear-gradient(to right top, #fcfcfc, #fafbfa, #f9f9f9, #f7f8f7, #f6f6f6, #f6f6f6, #f6f6f6, #f6f6f6, #f7f8f7, #f9f9f9, #fafbfa, #fcfcfc);
}
@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.menu-bar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  line-break: auto;
  margin: 0 !important;
  padding: 0 !important;
}

.top-section {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #0841AF;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  line-break: auto;
  margin: 0 !important;
  padding: 0 !important;
}
.mid-section {
  background-color: #white;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  line-break: auto;
  margin: 0 !important;
  padding: 0 !important;
}

.item {
  color: darkslateblue;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
h1 {
  color: white;
  font-family: verdana;
  font-size: 300%;

}
p  {
  color: grey;
  font-family: courier;
  font-size: 160%;
}